@charset "ISO-8859-1";

/* Definição de estilos para toda a tabela*/

.tabela {

     border: 1px solid blue;

}

 

/* Definição de estilos para linha de cabeçalho da tabela*/

.cabecalho {

   text-align: center;

   font: 12px Arial, sans-serif;

   font-weight: bold;

   color: Snow;

   background:  #0072a8;

}

 

/* Definição de estilos para coluna */

.primeiro {

   text-align: center;

   font: 12px Arial, sans-serif;

   background: #f3be43;

}

 

/* Definição de estilos para coluna */

.ultimo {

   font: 12px Arial, sans-serif;

   text-align: center;

   background: #7ad7fa;

}